<%- include('header') -%>
<div style="width:750px"> 
<h1>Misión</h1>

<p>
Depende de la actividad que la organización realice, así como del entorno en el que se encuentra y de los recursos de los que dispone. Si se trata de una empresa, 
la misión dependerá del tipo de negocio del que se trate, de las necesidades de la población en ese momento dado y la situación del mercado.
</p>
<br></br>

<h1>Misión</h1>

<p>
La visión de una empresa. por otro lado, se refiere a una imagen que la organización plantea a largo plazo sobre cómo espera que sea su futuro, 
una expectativa ideal de lo que espera que ocurra. La visión debe ser realista pero puede ser ambiciosa, su función es guiar y motivar al grupo para continuar con el trabajo.
</p>
<br></br>
<h1> Valores Corporativos </h1>
<p><strong>
Orientación a resultados de una manera eficiente:</strong> Anticipándose a situaciones y respondiendo al cambio de manera proactiva.
</p>

<p><strong>
Potenciar el talento colectivo:</strong> Contando con un abanico de marcas que son inclusivas en busca de la excelencia en su labor de ayudar al mundo.
</p>

<p><strong>
Investigación e innovación tecnológica constante:</strong> Dando calidad en los productos y servicios que desarrolla. Con lealtad e integridad trabajando con empatía con el usuario y teniendo como objetivo una contribución social positiva avanzando con visión para lograr metas agresivas.
</p>

<p><strong>
Trabajo en equipo:</strong> Colaborando por conseguir objetivos comunes, compartiendo la información, los conocimientos y las experiencias, haciéndolo con honestidad, respeto, transparencia y humildad para generar confianza con quien se relaciona.
 </p>
 
 <p><strong>
Hacer accesible la formación de ofreciendo calidad y precios competitivos:</strong> Apostando por las nuevas tecnologías con proximidad física con los alumnos a través de la red internacional de delegaciones y centros asociados, contando con un equipo de profesionales autoexigentes, extremadamente motivados y comprometidos.
</p>

<p><strong>
Ser el mejor generando información a nivel mundial:</strong> Siendo esta información para el usuario universalmente accesible, rápida y útil.
Trabajando con afán de superación y honestidad, con una cultura empresarial que promueve el talento y la creatividad.
</p>

<p><strong>
Gestión ética:</strong> En busca de un crecimiento sostenible basado en la responsabilidad, la transparencia, la empatía, la cooperación y el diálogo, impulsando el talento y trabajando constantemente en medidas que reduzca el impacto en el medio ambiente.
</p>

<p><strong>
Mantenerse en la vanguardia de la innovación:</strong> Para crear nuevos productos que den sabor al día a día de sus consumidores, con RSE incorporando consideraciones sociales y ambientales en sus decisiones, buscando apoyar una conciencia colectiva que se preocupe por su bienestar.
</p>

<p><strong>
Crear moda sostenible a través de tecnología e I+D:</strong> Revolucionando la idea de materia prima reciclada mediante la transformación: Reduciendo el impacto negativo en el planeta de la industria de la moda.
Poniendo en el mercado una nueva generación de productos responsables con la máxima calidad y diseño, comprometidos con el planeta, con el medio ambiente y con las personas, siendo transparentes y coherentes, alineando su mensaje con lo que hacen.
</p>

<p><strong>
Calidad en el servicio a sus clientes:</strong> Brindándoles un trato excelente y ofreciéndoles productos y servicios adecuados a cada uno de ellos.
Generando confianza que es la suma de honestidad, profesionalidad y cercanía. Todo ello con compromiso social, trabajando por contribuir a desarrollar una sociedad más justa con una mayor igualdad de oportunidades.
</p>
<br></br>
</div>
<%- include('footer') -%>